<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/carousel.css" />
    <script src="../script/jquery-3.7.0.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="slider-carousel">
      <div class="carousel-arrow" id="left-arrow">
        <img src="../public/img/left.png" alt="" />
      </div>
      <div class="carousel">
        <div class="carousel-image-container">
          <img src="../public/img/offer 1.png" alt="" class="carousel-image" />
          <img src="../public/img/" alt="" class="carousel-image" />
          <img src="../public/img/" alt="" class="carousel-image" />
        </div>
      </div>
      <div class="carousel-arrow" id="right-arrow">
        <img src="../public/img/right.png" alt="" />
      </div>
    </div>
    <script src="../script/carousel.js"></script>
  </body>
</html>
